<h2>{{pageTitle}}</h2>
<form [formGroup]="blogForm">
    <mat-form-field >
        <mat-label>Title</mat-label>
        <input matInput formControlName="title">
        
    </mat-form-field>
    <mat-form-field >
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
        
    </mat-form-field>
    
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onSave()">Save</button>
        <button mat-raised-button color="accent" (click)="onClose()">Close</button>
    </mat-card-actions>
</form>
